.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__item {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-color: transparent;
    border: 3px solid #8757df;
    border-radius: 3px;
    color: #353b48;
    font-size: 13px;
    font-weight: 700;

    &.active {
      background-color: #8757df;
      color: #fff;
    }

    &:hover {
      background-color: #8757df;
      color: #fff;
    }
  }

  &-control {
    height: 23px;
    border-radius: 4px;
    text-align: center;

    i {
      display: inline-flex;
      margin-right: 10px;
    }

    &:first-child {
      margin-right: 25px;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
