.create-post__form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  textarea {
    width: 80%;
    margin-right: 20px;
  }

  button {
    flex: 1;
    height: 40px;
    border-radius: 20px;
  }
}
