.create-post__form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  textarea {
    width: 80%;
    margin-right: 20px;
    border: 0;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  button {
    flex: 1;
    height: 40px;
    border: 0;
    background-color: #8757df;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.1s ease-in-out;

    i {
      margin-left: 10px;
    }

    &:hover {
      background-color: lighten(#8757df, 5%);
    }

    &:active {
      background-color: darken(#8757df, 5%);
    }
  }
}
