.create-post__form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  .create-post__form-textarea {
    position: relative;
    width: 80%;
    margin-right: 20px;

    textarea {
      width: 100%;
    }

    small {
      top: 75px;
      left: 15px;
    }
  }

  button {
    flex: 1;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
  }
}
