* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8757df;

    &:hover {
      background-color: lighten(#8757df, 5%);
    }

    &:active {
      background-color: lighten(#8757df, 10%);
    }
  }
}

body {
  margin-right: calc(-1 * (100vw - 100%));
  background-color: #d7c2ff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

button {
  background-color: #8757df;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  i {
    margin-left: 10px;
  }

  &:hover {
    background-color: lighten(#8757df, 5%);
  }

  &:active {
    background-color: darken(#8757df, 5%);
  }
}

textarea {
  padding: 10px 15px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  resize: none;
}

small {
  position: absolute;
  font-weight: 700;
  color: #e74c3c;
}

input[type='file'] {
  display: none;
}

.app {
  position: relative;
  display: flex;
  margin: 45px auto;
  width: 1120px;
  border-radius: 30px;

  &-preloader {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

.content {
  height: fit-content;
  min-height: 700px;
  flex: 1;
  padding: 40px;
  background-color: #f2f2fb;
  border-radius: 0 30px 30px 30px;
  box-shadow: 1px 2px 20px #bea8e7;
}

.inner-block {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.05);
}

.title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #353b48;

  &:not(:first-child) {
    text-align: right;
  }
}
