.users-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 620px;

  .users-list {
    width: 450px;

    &__preloader {
      position: absolute;
      top: 45%;
      left: 47%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
    }
  }
}
