.users-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 620px;

  &__inner {
    display: flex;

    .users-list {
      width: 490px;

      &__preloader {
        position: absolute;
        top: 45%;
        left: 47%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
      }
    }

    .users-searchbar {
      width: 270px;
      height: fit-content;
      margin-left: 30px;
    }
  }
}
